body {
	background-color: #57068c;
	font-family: Arial;
	color: white;
}

img {
	width: 100px;
	height: 100px;
}

ul {
	list-style-type: none;
}

li{
	padding: 10px;
}

a{
	color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alert {
	background-color: red;
	width: 60%;
}
